<p class="work-view-description">
    Here's something I've worked on in the past:
</p>

<ul class="work-view-links-subview">
    {{#each page.work.web}}
    <li class="work-view-links-subview-item {{#if @first}}selected{{/if}}">{{this.title}}</li>
    {{/each}}
</ul>

<hr class="separator">

<div class="work-view-subview">
    {{#each page.work.web}}
    <div class="work-view-subview-item {{this.name}} {{#if @first}}active{{/if}}">
        <a class="preview-image" href="{{this.url}}"></a>
        <h3 class="preview-title">{{this.title}}</h3>
        <p class="preview-description">{{this.description}}</p>
    </div>
    {{/each}}
</div>
